.container-fluid {
  padding: 20px;
}

.view-product-container {
  background-size: cover;
  background-position: center;
  padding: 40px;
  background-attachment: fixed;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  background-color: #f3be63;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  color: black;
}

th, td {
  text-align: left;
  word-wrap: break-word;
}

.thead-light th {
  background-color: #FFA726;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
}

.table-hover tbody tr:hover {
  background-color: rgba(91, 26, 212, 0.05);
}

.text-center {
  color: black;
}

tbody tr td {
  font-size: 14px;
}

@media (max-width: 768px) {
  th, td {
    font-size: 12px;
    padding: 8px;
  }
}

.no-products-message {
  color: #ccc;
  text-align: center;
}

.da-duyet {
  color: #28a745;
  font-weight: bold;
}

.button-approve {
  background-color: #28a745; /* Màu xanh */
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-approve:hover {
  background-color: #218838; /* Màu xanh đậm khi hover */
}

.button-delete {
  background-color: #dc3545; /* Màu đỏ */
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-delete:hover {
  background-color: #c82333; /* Màu đỏ đậm khi hover */
}

.button-group {
  display: flex;
  gap: 10px; /* Tạo khoảng cách giữa các nút */
}
